<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>ACCUEIL</h1>
<a href="/formulaire">Formulaire</a>
<a href="/membres">Membres</a>
</body>
</html>