<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 <table class="tableau">
 <% let noLigne = 0 %>
 <% for(element of adresses) {%>
 <% if (noLigne == 0) {%>
 <tr>
 	<% noLigne++
 		for (p in element) { %>
 		<td><%= p %></td>
 	<% } %>
 </tr>
 <% } %>
 	
 	<tr>
 		<% for (p in element) { %>
 		<td><%= element[p] %></td>
 	<% } %>
 </tr>
 <% } %>

 </table>

 <section>
        <div class="wrapper">
          <h1>Membres magiques</h1>
          <div class="content">
            <form action="/formulaire" method="post">
              <div class="field">
                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" value="">
              </div>
              <div class="field">
                <label for="nom">Nom de famille</label>
                <input type="text" name="nom" value="">
              </div>
              <div class="field">
                <label for="tel">Téléphone</label>
                <input type="text" name="tel" value="">
              </div>
              <div class="field">
                <label for="email">Courriel</label>
                <input type="email" name="email" value="">
              </div>
              <div class="actions">
                <button type="submit">Soumettre</button>
              </div>
            </form>
          </div>
        </div>
      </section>
</body>
</html>